*{
	font-family: 'Do Hyeon', sans-serif;
}
body {
	background-image: url('https://i.pinimg.com/originals/2f/4e/bd/2f4ebd2590c88cfa5340e131abe1b6b4.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
    border-radius: 25px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: rgb(91, 110, 122);
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
    border-radius: 25px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}
.cursor{
    position: absolute;
    width: 40px;
    height: 40px;
    border:2px solid rgb(91, 110, 122);
    border-radius: 50%; 
    pointer-events: none;
    z-index: 1;
    backdrop-filter: grayscale();
	transform: translate(-50%, -50%)
}
.cursor-scale{
   transform: scale(1.5); 
}

